<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <div v-if="Math.random() > 0.5">
            Now you see me!
        </div>
        <div v-else>
            Now you don't!
        </div>
        <div v-if="letter === 'A'">
            A
        </div>
        <div v-else-if="letter === 'B'">
            B
        </div>
        <div v-else>
            Another
        </div>

        <button @click="toggleOk">Toggle Ok</button>
        <button @click="toggleLetter">Toggle Letter</button>
    </div>    
    <script src="index.js"></script>
</body>
</html>